name: mypy
on: [ pull_request ]

jobs:
  mypy-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.13'
      - name: Install MyPy
        run: |
          pip install mypy
      - name: Analyze code with MyPy
        run: |
          mypy $(git ls-files '*.py')
